/* VARIABLES */
:root {
    --primary: #fff;
    --secondary: #fff;
    --third: #fff;
    --fourth: #fff;
    --background-color: #fff;
    --icon-color: #000;
    --text-color: #000;
    --area-color: #000;
    --button-bg-color: #fff;
    --button-color: #000;
}

body {
    background-color: var(--primary);
}
header {
    background-color: var(--primary);
}

.text-color {
    color: var(--text-color);
}
.area-color {
    color: var(--area-color);
}
.button-color {
    color: var(--button-color);
    background-color: var(--button-bg-color);
}
.card-div {
    background-color: var(--primary);
    color: var(--text-color);
    border: 3px solid var(--third);
}

.button-primary {
    color: #000;
    background-color: #fff;
}
.button-secondary {
    color: #000;
    background-color: #fff;
}

.toast {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    opacity: 0.9;
    transition: opacity 0.5s;
}
.toast.error {
    background-color: red;
}
.toast.info {
    background-color: rgb(29, 135, 70);
}
.bmc-btn {
    width: 11rem !important;
    min-width: 1rem !important;
    height: 2rem !important;
    padding: 0px 1rem !important;
    font-size: 22px !important;
}
.btn-theme {
    height: 2rem;
    width: 2rem;
    border: 1px solid var(--icon-color);
    color: var(--icon-color);
    aspect-ratio: 1;
    justify-content: center;
    align-items: center;
}
.card {
    flex: 1;
    background-color: var(--primary);
    border: 3px solid var(--third);
    color: var(--text-color);
}
.text-area {
    resize: none;
}
.footer {
    background-color: var(--third);
    color: var(--text-color);
    padding: 20px;
}